@import 'variables';

* {
    box-sizing: border-box;
}

.login {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.login>.col-12>h1 {
    margin-bottom: $m-md;
    text-align: center;
}

.login>.col-12>.card {
    box-shadow: $shadow-lg;
}

button {
    margin-top: $m-sm;
    float: right;
    background-color: $primary-dark !important;
}